BOT_NAME=Ideology Prizmarine Bot
DISPLAY_NAME=PrizmaBotWa
PREFIX=/
WA_AUTH_DIR=./auth

OWNER_JIDS=628xxxxxxxxxx@s.whatsapp.net,xxxxxxxxxxxx@lid
ALLOWED_GROUP_JIDS=120363xxxxxxxxxxxxx@g.us
TRIGGER_MENTION_JIDS=628xxxxxxxxxx@s.whatsapp.net,xxxxxxxxxxxx@lid
AUTO_RESTART_COOLDOWN_SECONDS=600

RAILWAY_PROJECT=your-railway-project-id
RAILWAY_ENVIRONMENT=your-railway-environment-id
RAILWAY_SERVICE=your-railway-service-id
COMMAND_TIMEOUT=45

SERVER_NAME=Ideology Prizmarine
SERVER_IP=example.playit.gg
SERVER_PORT=19132

ENABLE_MONITORING=false
MONITOR_INTERVAL=60000

# Optional
LOG_LEVEL=error
NOTIFICATION_GROUP_JID=
