BOT_NAME=Ideology Prizmarine Bot
DISPLAY_NAME=PrizmaBotWa
PREFIX=/
WA_AUTH_DIR=./auth

OWNER_JIDS=6281335758501@s.whatsapp.net,35455038935243@lid
ALLOWED_GROUP_JIDS=120363402388386113@g.us
TRIGGER_MENTION_JIDS=6281335758501@s.whatsapp.net,6287730616481@s.whatsapp.net,35455038935243@lid
AUTO_RESTART_COOLDOWN_SECONDS=600

RAILWAY_PROJECT=140979a3-d79f-4896-89c9-f90bdfe9333e
RAILWAY_ENVIRONMENT=bb5ac455-bd08-413b-b8c2-51387174ecee
RAILWAY_SERVICE=995190bf-f3f8-4c37-917c-273b1704b133
COMMAND_TIMEOUT=45

SERVER_NAME=Ideology Prizmarine
SERVER_IP=example.com
SERVER_PORT=19132

ENABLE_MONITORING=false
MONITOR_INTERVAL=60000

# Optional
LOG_LEVEL=error
NOTIFICATION_GROUP_JID=
